<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/Admin.css">
    <link rel="stylesheet" href="./css/Login.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Safe-Travel</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="bundle.js"></script>
</html>