.customer-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rental-tile {
    width: 500px;
    height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .rental-tile h3{
        margin: 5px;
    }
    .rental-tile p {
        margin: 10px;
    }

    @-webkit-keyframes fadeInTotal {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      @keyframes fadeInTotal {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      
      .fadeInTotal {
        -webkit-animation-name: fadeInTotal;
        animation-name: fadeInTotal;
        animation-duration: 1s;
      }

      @-webkit-keyframes fadeInPartial {
        from {
          opacity: 0;
        }
      
        to {
          opacity: .4;
        }
      }
      
      @keyframes fadeInPartial {
        from {
          opacity: 0;
        }
      
        to {
          opacity: .4;
        }
      }
      
      .fadeInPartial {
        -webkit-animation-name: fadeInPartial;
        animation-name: fadeInPartial;
        animation-duration: 1s;
      }


.Booked {
    opacity: .4;
}

